@charset "UTF-8";

*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

body{
    background-image: linear-gradient(to right, #025E73, #011F26);
}

main{
    background-color: white;
    margin: auto;
    
}

h1{
    text-align: center;
    color: #A5A692;
}

p{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

